source activate rust-data

export PROJECT_DIR=$PWD
export PATH=$PWD/bin:$PATH
export PYTHONPATH=$PWD/python:$PYTHONPATH
export MATPLOTLIBRC=$PWD/configurations
export JUPYTER_CONFIG_DIR=$PWD/configurations/jupyter
export IPYTHONDIR=$PWD/configurations/ipython
